[user]
	name = tgmeng
	email = tgmeng@163.com
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
	editor = /usr/bin/vim
[commit]
    template = ~/.gitmessage
[diff "image"]
	command = ~/bin/git-imgdiff
